#logo{
width:250px ;
height:200px ;
padding-left: 1%;
}
.meufooter{
color: rgb(243, 243, 243);
    background-color: rgb(150, 83, 0);
}
.cafe{

    width: 350%;
    height:280%;
    padding-left: 200%;
}